SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=DataWarehouse
SQLSERVER_USERNAME=dw_loader
SQLSERVER_PASSWORD=change_me
SQLSERVER_DRIVER=ODBC Driver 18 for SQL Server
SQLSERVER_TRUST_CERTIFICATE=yes

DBT_PROFILES_DIR=./dbt
